.root {
	cursor: pointer;
	user-select: none;
	color: var(--foreground);
	font-size: 13px;
}

.body {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 280px;
	transition: all 180ms ease-in;
	opacity: 1;
	z-index: 2;
	transform: translateX(0px);
	background-color: var(--bg);
	overflow-y: auto;
}

@starting-style {
	.body {
		opacity: 0;
		transform: translateX(50px);
	}
}

.backdrop {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	overflow: hidden;
}
