.body {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 280px;
	transition: all 160ms linear;
	opacity: 1;
	z-index: 2;
	transform: translateX(0px);
	background-color: var(--bg);
	overflow-y: auto;
}

@starting-style {
	.body {
		opacity: 0;
		transform: translateX(60px);
	}
}

.backdrop {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2222;
	overflow: hidden;
	transition: all 10000ms linear;
}
