.root {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.wrapper {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	position: relative;

	& > canvas {
		height: 300px !important;
		margin: 0 auto;
	}
}

.title {
	font-size: 16px;
	margin-bottom: 24px;
}

.info {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.amount {
	font-size: 20px;
	color: #fff;
	margin-bottom: 8px;
	font-weight: 500;
}
