.root {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
}

.card {
	box-shadow:
		0 -3px 31px 0 #0000000d,
		0 6px 20px 0 #00000005;
	background-color: rgb(122, 111, 190);
	background-image: url("../../assets/images/backdrop.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
}

.circle {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff1a;
	border-radius: 50%;
}

.title {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}

.amount {
	font-size: 20px;
	color: #fff;
	margin-bottom: 24px;
	font-weight: 500;
}

.status {
	display: flex;
	gap: 8px;
	color: #fff;
	align-items: center;
}

@media (width <= 1200px) {
	.root {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 756px) {
	.root {
		grid-template-columns: 1fr;
	}
}
