.root {
	display: flex;
	align-items: center;
	gap: 10px;

	& > input {
		background-color: transparent;
		border: none;
		outline: none;
		height: 24px;

		&::placeholder {
			color: var(--foreground);
		}
	}
}

.bordered {
	border: 1px solid rgba(222, 226, 230, 0.4);
	padding: 6px 12px;
	border-radius: 6px;
}
