.root {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 6px 14px 6px 20px;
	background-color: rgba(255, 255, 255, 0.102);
	border-radius: 20px;

	& > input {
		background-color: transparent;
		border: none;
		outline: none;
		height: 24px;

		&::placeholder {
			color: rgba(255, 255, 255, 0.4);
		}
	}
}
