.content {
	padding: 0 clamp(1.25rem, 0rem + 6.25vw, 7.5rem);
	padding-top: 60px;
}

.row {
	display: grid;
	margin-top: 20px;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 455px;

	& > div:nth-child(2) {
		grid-column-start: 2;
		grid-column-end: 5;
	}
}

@media (width <= 997px) {
	.content {
		padding-top: 20px;
	}
	.row {
		grid-template-columns: 1fr;
		grid-template-rows: 455px max-content;

		& > div:nth-child(2) {
			grid-column-start: 1;
			grid-column-end: 1;
		}
	}
}
