:root {
	--bs-header-bg: #fff;
	--bs-header-item-color: var(--bs-header-item-color);
	--bs-header-item-sub-color: var(--bs-secondary-color);
	--bs-header-height: 70px;
	--bs-footer-height: 60px;
	--bs-footer-bg: #fafafa;
	--bs-footer-color: #5b626b;
	--bs-header-dark-bg: #2b3a4a;
	--bs-header-dark-item-color: #e9ecef;
	--bs-topbar-search-bg: #f8f9fa;
	--bs-dropdown-topbar: #f8f9fa;
	--bs-topnav-bg: #fff;
	--bs-topnav-item-color: #545b62;
	--bs-topnav-item-color-active: var(--bs-primary);
	--bs-navbar-header-bg: #2f3f50;

	--bs-boxed-body-bg: #e8e8e8;
	--bs-sidebar-bg: #fff;

	--bs-sidebar-menu-item-color: #79829c;
	--bs-sidebar-menu-sub-item-color: #79829c;
	--bs-sidebar-menu-item-icon-color: #7f8387;
	--bs-sidebar-menu-item-hover-color: #383c40;
	--bs-sidebar-menu-item-active-color: #7a6fbe;
	--bs-sidebar-menu-item-active-bg: #f5f5f5;

	--bs-sidebar-width: 240px;
	--bs-sidebar-collapsed-width: 70px;
	--bs-sidebar-width-sm: 160px;

	--bg: #f5f5f5;
	--foreground: #555b6d;
	--drawer-title-color: #1f2431;
	--block-bg: #fff;
}

.dark {
	--bs-light: #3a445b;
	--bs-light-rgb: 58, 68, 91;
	--bs-dark: #3a445b;
	--bs-dark-rgb: 58, 68, 91;
	--bs-header-bg: #7a6fbe;
	--bs-header-dark-bg: #2a3142;
	--bs-header-item-color: #ffffffb3;
	--bs-topbar-search-bg: #ffffff1a;
	--bs-navbar-header-bg: #2e3648;
	--bs-dropdown-topbar: #ffffff1a;
	--bs-topnav-bg: #323a4e;
	--bs-footer-bg: #323a4e;
	--bs-footer-color: #dee2e6;
	--bs-boxed-body-bg: #2d3447;
	--bs-sidebar-bg: #fff;

	--bs-sidebar-menu-item-color: #79829c;
	--bs-sidebar-menu-sub-item-color: #79829c;
	--bs-sidebar-menu-item-icon-color: #79829c;
	--bs-sidebar-menu-item-hover-color: #7a6fbe;
	--bs-sidebar-menu-item-active-color: #7a6fbe;
	--bs-sidebar-menu-item-active-bg: #f5f5f5;

	--bg: oklab(26.138% -0.00077 -0.02558);
	--drawer-title-color: #fff;
	--foreground: #adb5bd;
	--block-bg: #2a3142;
}

html,
#root,
body {
	height: 100%;
}

body {
	width: 100%;
	font-family: Poppins, sans-serif;
	color: var(--foreground);
	background-color: var(--bg);
	font-size: 13px;
}

body,
#root {
	width: 100%;
	margin: 0;
}

svg {
	pointer-events: none;
}

img {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	--user-drag: none;
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		border-radius: 2px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(241, 241, 241, 0.08);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(175, 175, 175, 0.08);
		border-radius: 2px;
	}
}

input[type="time"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
