.settings_icon {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

@keyframes spin {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
