.settings_icon {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

.btn_container {
	display: flex;
	gap: 6px;
	margin-top: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	color: var(--drawer-title-color);
	padding: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, 05);
}

.body {
	padding: 24px;
}

@keyframes spin {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
