.root {
	cursor: pointer;
	user-select: none;
	color: var(--foreground);
	font-size: 13px;
}

.default {
	background-color: transparent;
	border: none;
}

.primary {
	background-color: #7a6fbe;
	color: #fff;
}

.secondary {
	background-color: #dee2e6;
	color: #adb5bd;
}

.primary,
.secondary {
	border: none;
	padding: 7px 10px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}
